<%- include('./partials/header.ejs') %>
<body class="home_page">
    <div class="page-wrapper">
        <main>
            <div class="main_page">
                <h1> Welcome to <span>LinkUpLegends</span>- <br> Where Extraordinary Connections Begin! </h1>
                <p>At LinkUpLegends, we believe in the power of bringing exceptional individuals 
                    together to create a <br> community that transcends boundaries. Whether you're a 
                    visionary entrepreneur, a creative genius,  or a passionate professional, 
                    <br>LinkUpLegends is your platform to forge legendary connections. </p>
                <p>Check out the Connections section to browse available connections!</p>
            </div>
        </main>
 <!-- Footer -->
<div class="home_page_footer" style="text-align: center;">
    <ul>
        <li class="list"><a href="/about">ABOUT</a></li>
        <li class="list"><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="main-paig-sociale-medai-icons" style="display: inline-block;">
        <i class="fa-brands fa-facebook-f" style="color: #3b5998; font-size: 24px;"></i>
        <i class="fa-brands fa-instagram" style="color: #ac2bac; font-size: 24px;"></i>
        <i class="fa-brands fa-twitter" style="color: #55acee; font-size: 24px;"></i>
        <i class="fa-brands fa-google" style="color: #dd4b39; font-size: 24px;"></i>
    </div>
    <hr>
    <ul>
        <li><span class="copyright_span">&copy;</span> Designed by <span class="AmirWave">AmirWave Tech</span> 2024</li>
    </ul>
</div><!-- End of footer -->
    </div>
</body>
</html>

